<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Prediction</title>
    <!-- 引入外部 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Iris Flower Prediction</h2>
    <label for="sepal_length">Sepal Length</label>
    <input type="number" id="sepal_length" placeholder="Enter sepal length">

    <label for="sepal_width">Sepal Width</label>
    <input type="number" id="sepal_width" placeholder="Enter sepal width">

    <label for="petal_length">Petal Length</label>
    <input type="number" id="petal_length" placeholder="Enter petal length">

    <label for="petal_width">Petal Width</label>
    <input type="number" id="petal_width" placeholder="Enter petal width">

    <button id="predict-btn">
        predict
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div class="result" id="result"></div>
</div>

<!-- 添加粒子效果的容器 -->
<div id="particle-container"></div>

<!-- 引入外部的 JavaScript 文件 -->
<script src="static/particles.js"></script>
<script src="static/button.js"></script>
</body>
</html>
